/* cyrillic-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKcg72j00.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKew72j00.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKcw72j00.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKfA72j00.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKcQ72j00.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: Ubuntu;
}
.navbar {
    font-size: 0.8rem;
}

.navbar .navbar-brand {
    font-size: 1rem;
}

.home-page .slide .bg {
    height: 75vh;
}
.products .card .product-image{
    width: 100%;
    height: 150px !important;
}
/* product details */
.product-intro{
    height: 50vh;
    width: 100%;
    background-image: url("../images/bg-pd.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-intro .pd{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.5);
    color: #fff;
}
.product-intro .pd a
{
    color: #fff;
    font-size: 0.7rem;
    padding: 2px;
    font-weight: bold;
}
.product-intro .pd a:hover
{
    color: #c3c3c3;
    position: relative;
    top: 1px;
    transition: 0.2s;
    text-decoration: none;
}
.product-details .product-image{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
 /* not allowed page */
.not-allowed{
    width:100%;
}
.not-allowed img{
    width: 100%;
    height: 92.3vh;
}
